/*  https://github.com/AlexFlipnote/Discord_Theme/ */
@import 'https://rawgit.com/AlexFlipnote/Discord_Theme/master/theme.css';

.theme-dark .user-settings-account::after,
.theme-light .user-settings-account::after {
	font-weight: bold;

	content: 'Base theme \00000A https://github.com/AlexFlipnote/Discord_Theme';
	white-space: pre;

	color: var(--accent);
}

/* GLOBAL */
:root {
	--primary: #16161d; /* Eigengrau */
	--dark1: ;
	--dark2: ;
	--light1: ;
	--light2: ;
	--highlight: ;

	--notif: ;
	--accent: ;
	--green: ;
	--yellow: ;
	--red: ;
	--purple: ;

	 /*--<var>:       <value>; */
	--notif:          rgba(253, 151, 031, 0.8); /*#FD971Fcc;*//*notif circle next to channel*/
	--accent:         rgba(102, 217, 239, 0.7); /*#66D9EFcc;*//*color next to current channel & notif shadow*/
	--dark-primary:   var(--primary); /*#18181ecc;*//*channel and user bars*/
	--dark-secondary: rgba(022, 022, 029, 0.9); /*#16161dcc;*//*text window*/
	--dark-highlight: rgba(035, 035, 038, 0.9); /*#232326cc;*//*server and header*/
	--green:          rgba(166, 226, 046, 0.9); /* #A6E22E;*/
	--yellow:         rgba(198, 171, 004, 0.9); /* #c6aB04;*/
	--red:            rgba(249, 038, 114, 0.9); /* #F92672;*/
	--purple:         #AE81FF; /* #AE81FF;*/


	/* #AE81FF | 	|---*/
	/* CH123456 | 	|---*/

	--textbox-height: 42px;
	/*--nsfw-image:   url("https://i.alexflipnote.xyz/c2472b.png");*/

	/*move titlebar down and to the right*/
	--i-rtl-invert: 0%;
	--i-rtl-closeimg: url(https://rawgit.com/intrnl/discordAdditions/master/revertTitlebar/assets/btn-close.svg);
	--i-rtl-maximizeimg: url(https://rawgit.com/intrnl/discordAdditions/master/revertTitlebar/assets/btn-maximize.svg);
	--i-rtl-minimizeimg: url(https://rawgit.com/intrnl/discordAdditions/master/revertTitlebar/assets/btn-minimize.svg);

	/**/
}

/**********/
/* GLOBAL */
/**********/


/**********/
/* HEADER */
/**********/

div[class*='notice'] {
	margin-right: 120px;
}

/*******************/
/*  GUILDS COLUMN  */
/* .guilds-wrapper */
/*******************/

.guilds-wrapper .scroller-wrap,
.guilds-wrapper {
	width: 52px;/*server side bar width*/
}

.guilds-wrapper .dms {
	margin-top: 0;
	margin-bottom: 0;
}

.guilds-wrapper .guilds {
	padding: 13px 0 18px 10px;
}

.guilds-wrapper .guilds .friends-icon {
	width: 30px;
	height: 30px;

	background-image: url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_forum_white_24px.svg');
	background-size: 15px 15px;
}

.guilds-wrapper .guilds .guild-separator {
	left: -15px;
}

.guilds-wrapper .unread-mentions-indicator-bottom .unread-mentions-bar,
.guilds-wrapper .unread-mentions-indicator-top .unread-mentions-bar {
	background-color: var(--notif);
}

.guilds-wrapper .guilds .guild {
	width: 30px;
	height: 30px;
}

.guilds-wrapper .guilds .guild .guild-inner a {
	font-size: 9px !important; /*makes text fit properly, but too small. maybe clipping is ok*/
	line-height: 30px;

	width: 30px;
	height: 30px;

	background-size: 30px 30px;
}

.guilds-wrapper .guilds .guild.unread::before {
	/*highlight bar for selected server*/
	position: absolute;
	z-index: 100;
	top: -2px;
	left: -9px;

	visibility: visible !important;

	width: 3px;
	height: 35px;
	margin-top: 0;

	-webkit-transform: translate(0px, 0px) scale(1);
	        transform: translate(0px, 0px) scale(1);

	border-left: 3px solid var(--notif);
	border-radius: 0;
	background: transparent;
}

.guilds-wrapper .guilds .guild.selected.unread::before {
	border-left: 3px solid var(--notif);
}

.guilds-wrapper .guilds .guild.selected::before {
	border-left: 3px solid var(--accent);
}

.guilds-wrapper .guild.guilds-add {
	font-size: 20px;
	/*add new server button*/

	width: 30px;
	height: 30px;
}

.guilds-wrapper .guilds .guild .guild-inner {
	/*background for servers with no icon*/
	background: var(--dark-secondary) !important;
}

.guilds-wrapper .guilds .guild.audio .guild-inner::after {
	top: 60%;
}

.guilds-wrapper .guilds .guild.audio .guild-inner::after {
	top: 50%;
	right: -2px;

	width: 20px;
	height: 20px;

	background-color: rgba(0, 0, 0, 0.5);
	background-size: 10px;
}

/***************************/
/*     CHANNELS COLUMN     */
/* div[class*='channels-'] */
/***************************/

/* UNREAD CHANNELS */
/* # next to channel title, prevent recolor  */
div[class*='container-'] div[class*='contentUnreadText-'] svg[class*='colorUnreadText-'] path {
	fill: currentColor;
}

/* channel title, prevent recolor */
div[class*='container-'] div[class*='contentUnreadText-'] div[class*='nameUnreadText-'] {
	color: #72767D;
}

/* new mentions */
div[class*='unreadTop-'] div[class*='bar-'],
div[class*='unreadBottom-'] div[class*='bar-'] {
	background-color: var(--notif);
}

/* notif bar to the left of channels with unread messages */
div[class*='container-'] div[class*='wrapperUnreadText-'] div[class*='unread-'],
div[class*='container-'] div[class*='wrapperHoveredText-'] div[class*='unread-'] {
	position: absolute;
	top: 0;
	left: 0;

	height: 100%;

	border: none;
	border-radius: 0;
	background: var(--notif);

	width: 4px;
}

/*																									*/
/*									USER CONTAINER									*/
/* div[class*='channels-'] div[class*='container-'] */
/*																									*/

/* User Mute/Deafen Button */
div[class*='channels-'] > div[class*='container'] div[class*='flex-'] button[style*='896770bf2d6ed0358ed0adefdbe96a24'],
div[class*='channels-'] > div[class*='container'] div[class*='flex-'] button[style*='c8845c514bbf3f1e5bea064c1e40b08d'] {
	background-color: var(--red);
}

/***************/
/* CHAT COLUMN */
/***************/

/*               */
/* TITLE WRAPPER */
/*               */

#app-mount div[class*='titleBar-'] {
	align-items: center;

	right: 12px;

	width: 98px;
	padding: 0 8px 0 12px;

	background: var(--primary);
}

/*           */
/* CHAT AREA */
/*           */



/* messages */

.edit-container-outer .avatar-large {
	display: none;
}

.message-group .edit-message,
.message-group .edit-message .edit-container-outer {
	margin-left: 0;

	vertical-align: baseline;
}

.message-group .edit-message div[class*='innerEnabled-'] {
	border-radius: 3px !important;
	background-color: var(--dark-highlight) !important;
}

.message-group .mentioned .message-text::after {
	border-left: 1px solid var(--notif);
	border-radius: 0;
}

/* textbox */

/*                        */
/* CHANNEL MEMBERS COLUMN */
/*                        */

/*NEW MESSAGES*/
.theme-dark .friends-table .messages .divider.divider-red > span,
.theme-dark .messages-wrapper .messages .divider.divider-red > span {
	color: var(--notif);
}

.theme-dark .friends-table .messages .divider.divider-red > div,
.theme-dark .messages-wrapper .messages .divider.divider-red > div {
	background: var(--notif);
}

.unread-mentions-indicator-bottom > div {
	/* visibility: hidden; */

	/* background-color: var(--notif); */
}

/*unread channel icon*/
div[class*='channels-'] div[class*='wrapperUnreadText-']::before,
.guild-channels .channel-text.unread:not(.selected):not(.channel-muted)::before {
	position: absolute;
	top: 0;
	left: 0;

	width: 0;
	height: 100%;

	border-left: 2px solid var(--notif);
}

.guild-channels header {
	/*line-height: 20px;*/
	margin-top: 5px;
	padding-left: 10px;
}

.theme-dark .messages-wrapper .messages .divider span,
.theme-light .messages-wrapper .messages .divider span {
	background-color: var(--dark-secondary);
}

/* End GLOBAL */

/* User Settings */
/*my account under user settings*/
.theme-light .ui-card-primary,
.theme-dark .ui-card-primary {
	border-color: none;
	background: transparent; /*bg image*/
	background-color: var(--dark-primary);
}

.ui-button.brand.filled {
	background-color: var(--red);
}

.ui-button.brand.filled:hover {
	opacity: 0.8;
	background-color: var(--red);
}

.ui-button.brand.outlined:hover {
	opacity: 0.6;
}

.guild-settings-modal-emoji .no-emoji p {
	color: grey;
}

/* END: User Settings */



/* Scroller */


/* member list sidebar */
.channel-members-wrap {
	width: 193px; /* lines up with separator next to search */
	min-width: 100px;
}

.channel-members {
	padding: 0;
}

.channel-members h2 {
	line-height: 30px;

	margin: 0;
	margin-top: 10px !important;
	padding: 0;
	padding-left: 10px;

	text-decoration: underline;

	color: hsla(0,0%,100%,0.6) !important;
}

.channel-members .member {
	padding-left: 18px;
}

.channel-members .member .member-inner {
	flex-shrink: 0;

	position: relative;

	width: 130px;

	background-size: 130px 30px;
}

/* User Popout */
.bot-tag.bot-tag-invert {
	color: #FFFFFF!important;
	background-color: var(--purple)!important;
}

/* Region */
.region-select .region-select-inner,
.region-select button {
	border: none;
}

.region-select:hover button {
	background-color: var(--green);
}

.region-select-modal .region-select-modal-option:hover {
	border: 5px solid var(--green);
}

/* END: Region */

/* Emoji picker */
.emoji {
	width: 30px;
	height: 30px;
}

.emoji.jumboable,
.emoji-picker .scroller .emoji-item {
	filter: drop-shadow(2px 2px 0px rgba(0,0,0,0.3));

	width: 40px;
	height: 40px;
}

.reaction .emoji {
	filter: none;

	width: 1.5rem;
	height: 1.5rem;
}

.emoji-picker .scroller .row {
	height: 40px;
}

.emoji-picker .category {
	height: 2.2em;
}

.emoji-picker .categories .item.selected {
	border-bottom-color: var(--accent);
}

.theme-dark .popout .emoji-picker .header {
	height: 42px;
}

.theme-dark .popout .emoji-picker .scroller {
	height: 170px;
}

.theme-dark .popout .emoji-picker .scroller,
.theme-dark .popout .emoji-picker .sticky-header {
	width: 100%;
}

.theme-dark .popout .emoji-picker .scroller .emoji-item.selected {
	background: var(--dark-primary);
}

.theme-dark .popout .emoji-picker .header .search-bar .search-bar-inner {
	font-weight: bolder;

	background: transparent;
}

.theme-dark .popout.no-shadow .emoji-picker {
	margin-right: 0;
	margin-bottom: 0!important;
}

/* END: Emoji picker */

/* Status Picker */
.status-online,
div[class*="statusOnline"] {
	background-color: var(--green);
}

.status-idle,
div[class*="statusIdle"] {
	background-color: var(--yellow);
}

.status-dnd,
div[class*="statusDnd"] {
	background-color: var(--red);
}

/* END: Status Picker */

/* Add/Make new server */
.create-guild-container .form-actions .btn-default:hover {
	box-shadow: inset 6.5em 0 0 0 var(--red);
}

/* Account Section */
.account {
	height: 40px;
	padding: 1px;
}

.account .avatar-small {
	margin-left: 10px;
}

.account .account-details {
	padding-right: 0;
}

.account .account-details .username {
	max-width: 110px;
}

.account .btn {
	width: 20px;
	height: 20px;
	padding-right: 20px;
}

/*Make buttons flat on profile section*/
#rtc-connection {
	height: 40px;
	padding: 0;
	padding-right: 10px;
	padding-left: 10px;
}

.account .btn-mute.disabled:hover::after,
.account .btn-mute.disabled::after {
	/*TODO decide on proper color for errors, maybe not red?*/
	background-color: var(--red);
}

.account .btn-deafen.disabled:hover::after,
.account .btn-deafen.disabled::after {
	background-color: var(--red);
}

/* END: Account Section */
/* Message Textarea */

.message-group {
	margin-left: 10px;
}

.message-group .btn-reaction,
.message-group .btn-option {
	-webkit-transition: 'none';
	transition-duration: 0s;
}

.message-group .comment .message-text .markup,
.message-group .accessory {
	font-size: 17px;

	margin-left: 5px;
}

.message-group:last-of-type {
	margin-bottom: 10px !important;
}

.theme-dark div[class*='channelTextAreaEnabled-'] div[class*='inner-'],
div[class*='channelTextAreaEnabledNoAttach'],
.channel-text-area-default,
.channel-textarea.has-results .channel-textarea-inner,
div[class*='channels-'] > div[class*='container'] {
	min-height: var(--textbox-height);
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.theme-dark .chat form {
	background: transparent;
}

.chat .avatar-large {
	margin-right: 10px;
}

.typing {
	margin-bottom: var(--textbox-height);

	background-color: rgba(072, 072, 072, 0.1); /*slightly lighter than bg*/
}

/* END: Message Textarea */
/* HEADER */

.chat > .title-wrap {
	min-height: 40px;
}

.chat > .title-wrap > .title {
	flex-shrink: 1;

	white-space: nowrap;
}

#friends .friends-header,
.guild-header header,
.private-channels .search-bar {
	height:  40px;
	padding: 0 24px;
}

.private-channels .channel.selected::before {
	border-left: 3px solid var(--accent);
}

.titlebar {
	height: 15px;

	background-color: rgba(072, 072, 072, 0.1); /*slightly lighter than bg*/
}

.titlebar button {
	margin-bottom: 20px;
}

/* END: HEADER */
/* Form */
.form .btn.red {
	background-color: var(--red);
}

/* Ban and Kick */
.alert.form .form-inner .cancel {
	border-color: transparent;
	background-color: var(--red);
}

.alert.form .form-inner .cancel:hover {
	background-color: var(--red-light);
}

/* END: Ban and Kick */
/* Server Settings */
.theme-dark .popout section {
	background-color: var(--dark-secondary);
}

.theme-dark .ui-color-picker-custom {
	background: var(--dark-primary);
}

.ui-flex.flex-horizontal-reverse > .ui-flex-child:first-child,
.ui-flex.flex-horizontal-reverse > .ui-flex-child:last-child {
	background: transparent;
}

/* Server Section */

div[class*='contentSelectedText-']::before,
.unread-23Kvxk,
.guilds-wrapper .guilds .guild.selected::before,
.guilds-wrapper .guilds .guild.selected.unread::before {
	/*highlight bar for selected server*/
	position: absolute;
	z-index: 100;
	top:  -2px;
	left: -9px;

	visibility: visible !important;

	width:  3px !important;
	height: 35px;
	margin-top: 0;

	transform: translate(0px, 0px) scale(1);

	border-radius: 0;
	background: transparent;
}

.unread-23Kvxk {
	border-left: 12px solid var(--notif);
}

/* END: Server Section */
/* Notifications */

.badge {
	background-color: var(--notif);
}

.chat .new-messages-bar {
	height: 20px;

	opacity: 1;
	border-radius: 0;
	background-color: var(--notif);
}

.chat .new-messages-bar > button {
	padding: 0 10px;
}

.chat .new-messages-bar:hover {
	opacity: 0.4;
	background-color: #FDB73F;/*notif but lighter*/
}

.dms .guild .badge,
.guilds .guild.unread .badge,
.guilds .guild .badge {
	line-height: 10px;

	padding: 3px 6px;

	-webkit-transform: translate(2px, -17px)!important;
	        transform: translate(2px, -17px)!important;/*place @mention badge ontop of unread badge*/
}

/* END: Notifications */
/* code formatting */
/* base from: https://gist.github.com/jakeoid/33a608c852bf890e361523d245664882*/
.hljs {
	display:    block;
	overflow-x: auto;

	padding: 0.5em;
}

.hljs,
.hljs-tag,
.hljs-subst {
	color: #FFFFFF !important;
}

.hljs-strong,
.hljs-emphasis {
	color: #A8A8A2 !important;
}

.hljs-params {
	color: var(--notif) !important;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
	color: var(--purple) !important;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
	color: var(--green) !important;
}

.hljs-strong {
	font-weight: bold !important;
}

.hljs-emphasis {
	font-style: italic !important;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
	color: #F92672 !important;
}

.hljs-built_in,
.hljs-symbol,
.hljs-attribute {
	color: var(--accent) !important;
}

.hljs-class .hljs-title {
	color: #F8F8F2 !important;
}

.hljs-string,
.hljs-type,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
	color: #E6DB74 !important;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
	color: #75715E !important;
}

#app-mount div[class*="titleBar-"] {
	position: absolute;
	top:   0;
	right: 0;

	width:   90px;
	height:  48px;
	margin:  0;
	padding: 0;
	-webkit-app-region: no-drag;
}

/*drag bar*/
#app-mount div[class*="titleBar-"]::before {
	-webkit-app-region: drag;
	position: absolute;
	z-index: 3000;
	top:   0;
	right: 0px;

	display: block;

	width:   100vw;
	height:  6px;
	margin:  0;
	padding: 0;

	content: ' ';

	border-bottom: 1px solid #474A4F;
	background-color: #404040;
}

div[class*="titleBar-"] .winButton-U7zAqI {
	filter: invert(0%);

	position: relative;
	top: 0;

	display: block;

	width:  24px;
	height: 24px;
	margin: 0 2px;

	opacity: 0.6;
	background-color:    transparent;
	background-repeat:   no-repeat;
	background-position: center;
	background-size:     24px;
}

div[class*="titleBar-"] div[class*="winButton-"]:hover {
	opacity: 0.8;
}

div[class*="titleBar-"] div:nth-of-type(2) {
	background-image: var(--i-rtl-closeimg);
}

div[class*="titleBar-"] div:nth-of-type(3) {
	background-image: var(--i-rtl-maximizeimg);
}

div[class*="titleBar-"] div:nth-of-type(4) {
	background-image: var(--i-rtl-minimizeimg);
}

div[class*="titleBar-"] div[class*="wordmark-"],
div[class*="titleBar-"] div[class*="winButton-"] svg {
	display: none;
}

div[class*="title-"] div[class*="flex-"].horizontal-2BEEBe,
.titleCall-3X0yGQ .flex-lFgbSz.horizontal-2BEEBe,
.headerBar-cxbhPD .flex-lFgbSz.horizontal-2BEEBe {
	margin-right: 98px;
}

.title-qAcLxz .flex-lFgbSz.horizontal-2BEEBe::after,
.titleCall-3X0yGQ .flex-lFgbSz.horizontal-2BEEBe::after,
.headerBar-cxbhPD .flex-lFgbSz.horizontal-2BEEBe::after {
	width:  1px;
	height: 22px;

	content: ' ';
}

.theme-dark .title-qAcLxz .flex-lFgbSz.horizontal-2BEEBe::after,
.theme-dark .titleCall-3X0yGQ .flex-lFgbSz.horizontal-2BEEBe::after,
.theme-dark .headerBar-cxbhPD .flex-lFgbSz.horizontal-2BEEBe::after {
	background-color: rgba(247, 247, 248, 0.1);
}

.theme-light .title-qAcLxz .flex-lFgbSz.horizontal-2BEEBe::after,
.theme-light .titleCall-3X0yGQ .flex-lFgbSz.horizontal-2BEEBe::after,
.theme-light .headerBar-cxbhPD .flex-lFgbSz.horizontal-2BEEBe::after {
	background-color: rgba(114, 118, 126, 0.3);
}

.icon-mr9wAc {
	opacity: 0.6;
}
div[class*='containerDefault-'] div[class*='content-']{
		}
div[class*='contentSelectedText-'] {
	position: absolute;

	height: 100%;
	width: 100%;
	margin-left: 0;
	padding-left: 15px;

	border-radius: 0;

	border-left: 1px solid var(--accent);
}

button[class*='actionRed'] {
	background-color: var(--red);
}

video,
video[autoplay] {
	display: block;
}

/*==================================================
=            Large Scale Image Previews            =
==================================================*/

.backdrop-2ohBEd{
	opacity: 0 ;
}

/* create a border around the popup so the user can click to dismiss */
.modal-2LIEKY {
	flex: 1;
	padding:        3%;
	padding-top:    3%;
	padding-bottom: 4%;
	align-items: stretch;
	z-index: 1001;
}

.modal-2LIEKY .inner-1_1f7b{
	flex: 1 1 auto;
	flex-basis: 1px;
	align-items: center;
	justify-content: center;
	background:  rgba(0, 0, 0, 0.8) !important;
	outline: solid 1px rgba(255, 255, 255, 0.3);
}

/* This is the container for the popup, has two children, usually a content
	& then some buttons at the bottom */
.modal-2LIEKY .inner-1_1f7b > *	{
	display: flex;
	flex-direction: column;
	/* background:  rgba(0, 0, 0, 0.8) !important; */
	align-items: stretch;
}

.modal-2LIEKY .inner-1_1f7b > * > * {
	/* flex: 1 1 auto !important; */
	background-color: transparent !important;
	outline: solid 1px rgba(255, 255, 255, 0.3);
	max-width:  100% !important;
	max-height: 100% !important;
}

/* the 'content' should be as large as possible */
.modal-2LIEKY .inner-1_1f7b > * > *:not(:last-child),
.modal-2LIEKY .inner-1_1f7b > * > *:not(:last-child) .imageWrapper-38T7d9,
.modal-2LIEKY .inner-1_1f7b > * > *:not(:last-child) img {

}

/* buttons, should fit on screen. */
.modal-2LIEKY .inner-1_1f7b > * > *:last-child{
}



/* .modal-2LIEKY .inner-1_1f7b , */
.modal-2LIEKY .inner-1_1f7b .container-2WJW5U,
.modal-2LIEKY .inner-1_1f7b > div,
.modal-2LIEKY .inner-1-09ZV > div > div,
.modal-2LIEKY .inner-1_1f7b .imageWrapper-38T7d9,
.modal-2LIEKY .inner-1_1f7b .imageWrapper-38T7d9 img {
	width:      100% !important;
	height:     100% !important;
	max-width:  100% !important;
	max-height: 100% !important;
}


.modal-2LIEKY .inner-1_1f7b > div > div > button {
	margin: 16px;
}

.modal-2LIEKY .inner-1_1f7b > div > div > a {
	padding-left: 16px;
}

.modal-2LIEKY .inner-1_1f7b .imageWrapper-38T7d9 img {
	object-fit: contain;
}

.backdrop-2ohBEd {
	opacity: 0 !important;
}

.channel-members-wrap div[class*='scroller-'] {
	/* background: var(--dark-primary); */
}

.inner-1-09ZV {
	display: flex;
	flex-direction: column;

	margin: 0 !important;
}

.inner-1-09ZV div[class*='file-'] {
	flex-direction: column !important;

	height: 100% !important;
	margin: 16px;
	margin-bottom: 0;
}

.inner-1-09ZV div[class*='file-'] div[class*='icon-'] {
	flex-shrink: 1 !important;

	margin: 0 !important;

	/* border: solid 1px rgba(255, 255, 255, 0.3) !important; */
	/* background-color: rgba(0, 0, 0, 0.3)  !important; */
	background-size:  contain !important;
}

.inner-1-09ZV div[class*='file-'] div[class*='description-'] {
	align-self: flex-end;

	height: min-content !important;
}

.modal-2LIEKY .inner-1_1f7b div[class*='flex-'] h4,
.modal-2LIEKY .inner-1_1f7b div[class*='flex-'] svg,
.modal-2LIEKY .inner-1_1f7b div[class*='flex-'] div[class*='guildName-'] {
	padding: 5px;
	padding-left: 16px;
	text-align: left;
	font-size: 1.6em;
	line-height: 1.6em;
}

.modal-2LIEKY .inner-1_1f7b div[class*='flex-'] svg[name='Close']{
	filter: invert(0%);
  position: relative;
  top: 0;
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 2px;
  opacity: 0.6;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
	background-image: var(--i-rtl-closeimg);
}

.modal-2LIEKY .inner-1_1f7b div[class*='flex-'] svg[name='Close'] > * {
	opacity: 0;
}

.modal-2LIEKY .inner-1_1f7b div[class*='flex-'],
div[class*='uploadModal-'] div[class*='footer-'] {
	padding: 0 !important;
}


.modal-2LIEKY .inner-1_1f7b > div div[class*='scrollerWrap-'],
.modal-2LIEKY .inner-1_1f7b .scrollerWrap-2uBjct  {
	flex-shrink: 1;
}


/* .modal-2LIEKY .inner-1_1f7b .footer-1PYmcw button, */
.modal-2LIEKY .inner-1_1f7b .footer-1PYmcw div {
	display: block;
	vertical-align: center;
	flex: 1;
	width: auto;
	margin: 16px;
	font-size: 16px;
	align-self: center;
}
.modal-2LIEKY .inner-1_1f7b .footer-1PYmcw,
.modal-2LIEKY .inner-1_1f7b .footer-1PYmcw button,
.modal-2LIEKY .inner-1_1f7b .scrollerWrap-2uBjct {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: min-content;
}

* {
	animation: 0 !important;
	-webkit-animation: 0 !important;
  -moz-animation:    0 !important;
  -o-animation:      0 !important;
  animation:         0 !important;
}

/* .horizontal-1ae9ci>.flex-1xMQg5:last-child, */
/* .horizontal-1ae9ci>.flexChild-faoVW3:last-child */
div[class*="headerBar-"]>div[class*="flex-"]:last-child{
	margin-right: 90px;
}

.theme-dark div[class*='channelTextAreaEnabled-'] div[class*='inner-'],
div[class*='channelTextAreaEnabledNoAttach'],
.channel-text-area-default,
.channel-textarea.has-results .channel-textarea-inner,
div[class*='channels-'] > div[class*='container']{
	background-color: var(--dark-primary);
}

/* adjusts the height of the user settings & voice region settings bars at the bottom of channels sidebar */
/* the '+' selects a  "container-" who's previous sibling was also "container-" */
div[class*="channels-"] div[class*="container-"] + div[class*="container-"]{
	height: var(--textbox-height);
}

/* prevents the above rule from adjusting the channel groups */
div[class*="channels-"] div[class*="container-"] div[class*="scrollerWrap"] div[class*="container-"] {
	height: auto;
}

div[class*="titleWrapper-"] div[class*="title-"] {
	flex: 1 0 100% !important;
	margin-right: 90px;
}

#app-mount div[class*='titlebar-'],
div[class*="titleWrapper-"] div[class*="title-"] {
    background: var(--dark-secondary) !important;
}

/* !@#$ */

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
	/*
	*	$NOTES
	*	$VARS
	*		$Colors
	*		$Sizes
	*		$Assets
	*	$MAIN
	*		$Shared							- rules that select from multiple areas
	*		$Misc								- rules that do not fit into any of the other categories
	*			$TitleBar					- grab bar and min/max/close buttons
	*		$Guilds							- Server select sidebar (furthest left)
	*		$Channels						- Server channel select sidebar (next left)
	*			$Header						- dropdown for server settings
	*			$ChannelScroller	-
	*			$Footer						- footer for user settings & voice buttons
	*		$Chat
	*			$Title						- Header that contains the channel title
	*			$Messages					- main area containing messages
	*			$TextBox					- where user types text
	*			$Members				- sidebar list of members in a channel (furthest right)
	*/

/*------------------------------------*\
		$NOTES
\*------------------------------------*/
	/**
	 *
	 *#2f3136
	 *#7289da;
	 *
	 * Some examples of how discord default does pallets
	 * background-color:	#f04747;
	 * background-color:	#d84040
	 * background-color:	#c03939
	 * border-color:			rgba(240,71,71,.3);
	 * border-color:			rgba(240,71,71,.6)
	 * background-color:	rgba(240,71,71,.1);
	 * background-color:	#009edc
	 * background-color:	#008dc3
	 * background-color:	#7289da;
	 * background-color:	#f2f2f2;
	 */

/*------------------------------------*\
		$VARS
\*------------------------------------*/
	/*------------------*\
			$Colors
	\*------------------*/
		:root {
			/* These are the 5 colors used as a base, monochromatic pallete */
			--primary: #16161d; /* Eigengrau */
			--dark1:     #12121d;
			--dark2:     #0b0b1d;
			--light1:    #6c6c82;
			--light2:    #9c9cba;

			/*
				These colors aren't used as backgrounds, but for things like borders
					or separators

				Grab Bar:
			 		rgb(71, 74, 79);
			 		rgb(64, 64, 64);

		 		Icons:
		 			#fff5
					#999999
		 			#fff .3 opacity
		 	*/
			--highlight: ;
			--separator: #A2A2A5;

			/* Colors used for things like status, or notifications. */
			--notif:  #FD971F;
			--accent: #66D9EF;
			--green:  #A6E22E;
			--yellow: #c6aB04;
			--red:    #F92672;
			--purple: #AE81FF;
		}
	/*------------------*\
			$Sizes
	\*------------------*/
		:root {
			--textbox-height: 42px;
			--guild-width:    52px;
			/* --channels-width: 240px;  *//* default */
			/* --members-min-width: 240px;  *//* default */
		}
	/*------------------*\
			$Assets
	\*------------------*/
		:root{
			/*--nsfw-image:   url("https://i.alexflipnote.xyz/c2472b.png");*/

			/*move titlebar down and to the right*/
			--i-rtl-invert: 0%;
			--i-rtl-closeimg:    url(https://rawgit.com/intrnl/discordAdditions/master/revertTitlebar/assets/btn-close.svg);
			--i-rtl-maximizeimg: url(https://rawgit.com/intrnl/discordAdditions/master/revertTitlebar/assets/btn-maximize.svg);
			--i-rtl-minimizeimg: url(https://rawgit.com/intrnl/discordAdditions/master/revertTitlebar/assets/btn-minimize.svg);
		}

/*------------------------------------*\
    $MAIN
\*------------------------------------*/
	/*------------------*\
	    $Shared
	\*------------------*/
	/*------------------*\
	    $Misc
	\*------------------*/
		/*			$Titlebar			*/
		/*

			#app-mount div[class*='titleBar-'] {
				align-items: center;

				right: 12px;

				width: 98px;
				padding: 0 8px 0 12px;

				background: var(--primary);
			}

		*/
		#app-mount div[class*='titleBar-'] {
			align-items: center;

			position:	 absolute;
			top:			 0px;
			right:		 0px;

			width:	 90px;
			height:	 48px;

			margin:	 0px;
			padding: 0px;

			background: var(--primary);

			--webkit-app-region: no-drag;
		}

		#app-mount div[class*='titleBar-']::before {
		    --webkit-app-region: drag;
		    position: absolute;
		    top: 0px;
		    right: 0px;
		    display: block;
		    width: 100vw;
		    height: 6px;
		    content: "";
		    background-color: rgb(64, 64, 64);
		    margin: 0px;
		    padding: 0px;
		    border-bottom: 1px solid rgb(71, 74, 79);
		    z-index: 3000;
		}

		div[class*="titleBar-"] div[class*="wordmark-"],
		div[class*="titleBar-"] div[class*="winButton-"] svg {
			display: none;
		}

		div[class*="titleBar-"] div[class*="winButton-"] {
			filter: invert(0%);

			position: relative;
			top: 0;

			display: block;

			width:  24px;
			height: 24px;
			margin: 0 2px;

			opacity: 0.6;
			background-color:    transparent;
			background-repeat:   no-repeat;
			background-position: center;
			background-size:     24px;
		}

		div[class*="titleBar-"] div[class*="winButton-"]:hover {
			opacity: 0.8;
		}

		div[class*="titleBar-"] div:nth-of-type(2) {
			background-image: var(--i-rtl-closeimg);
		}

		div[class*="titleBar-"] div:nth-of-type(3) {
			background-image: var(--i-rtl-maximizeimg);
		}

		div[class*="titleBar-"] div:nth-of-type(4) {
			background-image: var(--i-rtl-minimizeimg);
		}

	/*------------------*\
	    $Guilds
	    .guilds-wrapper
	\*------------------*/
		.guilds-wrapper {
			width: var(--guild-width);
		}

	/*------------------*\
	    $Channels
	\*------------------*/

		/* $Header */
		/*---------*/

		/* $ChannelScroller */
		/*------------------*/

		/* $Footer */
		/*---------*/
	/*------------------*\
			$Chat
			.chat
	\*------------------*/

		/* $Title                           */
		/* .chat div[class*='titleWrapper'] */
		/*----------------------------------*/
			#app-mount div[class*='titlebar-'],
			div[class*="titleWrapper-"] div[class*="title-"] {
			    background: var(--dark1);
			}

			div[class*="titleWrapper-"] div[class*="title-"] {
				flex: 1 0 100% !important;
				margin-right: 90px;
			}

		/* $Messages */
		/*-----------*/
			.chat .content .flex-spacer .messages-wrapper {
				background-color: var(--primary);
			}

		/* $TextBox */
		/*----------*/
			.chat .content div[class*='channelTextArea']{
				height: var(--textbox-height);
				margin: 0;
			}

		/* $Members                                  */
		/* .chat .content div[class*='membersWrap-'] */
		/*-------------------------------------------*/


/* !@#$% */

		div[class*="channels-"] {
			font-size: 14px;
		}

		/* $Header */
		/*---------*/

		/* $ChannelScroller */
		/*------------------*/

		/* change the size for channel section headers & make them all caps */
		div[class*="nameDefault-"],
		div[class*="nameHovered-"],
		div[class*="nameMuted-"],
		div[class*="nameCollapsed"],
		div[class*="nameHoveredCollapsed"] {
			font-size:			1.1em;
			text-transform:	uppercase;
		}

		/* voice channel user names should not be changed */
		div[class*="userDefault-"] div[class*="nameDefault-"] {
			font-size:			inherit;
			text-transform: inherit;
		}

		.chat .content form {
			margin: 0;
		}

		.chat .content form div[class*="inner-"] {
			border-radius: 0;
		}
		.chat .content form {
				margin: 0;
				border: 0;
				border-top: 1px solid #eceeef;
				border-top-color: hsla(0,0%,100%,.04);
			}

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
	/*
	*	$NOTES
	*	$VARS
	*		$Colors
	*		$Sizes
	*		$Assets
	*	$MAIN
	*		$Shared							- rules that select from multiple areas
	*		$Misc								- rules that do not fit into any of the other categories
	*			$TitleBar					- grab bar and min/max/close buttons
	*		$Guilds							- Server select sidebar (furthest left)
	*		$Channels						- Server channel select sidebar (next left)
	*			$Header						- dropdown for server settings
	*			$ChannelScroller	-
	*			$Footer						- footer for user settings & voice buttons
	*		$Chat
	*			$Title						- Header that contains the channel title
	*			$Messages					- main area containing messages
	*			$TextBox					- where user types text
	*			$Members				- sidebar list of members in a channel (furthest right)
	*/

/*------------------------------------*\
		$NOTES
\*------------------------------------*/
	/**
	 *
	 *#2f3136
	 *#7289da;
	 *
	 * Some examples of how discord default does pallets
	 * background-color:	#f04747;
	 * background-color:	#d84040
	 * background-color:	#c03939
	 * border-color:			rgba(240,71,71,.3);
	 * border-color:			rgba(240,71,71,.6)
	 * background-color:	rgba(240,71,71,.1);
	 * background-color:	#009edc
	 * background-color:	#008dc3
	 * background-color:	#7289da;
	 * background-color:	#f2f2f2;
	 */

/*------------------------------------*\
		$VARS
\*------------------------------------*/
	/*------------------*\
			$Colors
	\*------------------*/
		:root {
			/* These are the 5 colors used as a base, monochromatic pallete */
			--primary: #16161d; /* Eigengrau */
			--dark1:     #12121d;
			--dark2:     #0b0b1d;
			--light1:    #6c6c82;
			--light2:    #9c9cba;

			/*
				These colors aren't used as backgrounds, but for things like borders
					or separators

				Grab Bar:
			 		#46494e; - good color for borders?
			 		#444444;

		 		Icons:
		 			#fff5
					#999999
		 			#fff .3 opacity
		 	*/
		  --border: 		hsla(0,0%,100%,.04);
			--highlight: 	;
			--separator: 	#999999;
			/* hsla(0,0%,100%,.04); */
			/* #0a0a0a; */

			/* Colors used for things like status, or notifications. */
			--notif:  #FD971F;
			--accent: #66D9EF;
			--green:  #A6E22E;
			--yellow: #c6aB04;
			--red:    #F92672;
			--purple: #AE81FF;
		}
	/*------------------*\
			$Sizes
	\*------------------*/
		:root {
			--textbox-height: 42px;
			--guild-width:    52px;
			/* --channels-width: 240px;  *//* default */
			/* --members-min-width: 240px;  *//* default */
		}
	/*------------------*\
			$Assets
	\*------------------*/
		:root{
			/*--nsfw-image:   url("https://i.alexflipnote.xyz/c2472b.png");*/

			/*move titlebar down and to the right*/
			--i-rtl-invert: 0%;
			--i-rtl-closeimg:    url(https://rawgit.com/intrnl/discordAdditions/master/revertTitlebar/assets/btn-close.svg);
			--i-rtl-maximizeimg: url(https://rawgit.com/intrnl/discordAdditions/master/revertTitlebar/assets/btn-maximize.svg);
			--i-rtl-minimizeimg: url(https://rawgit.com/intrnl/discordAdditions/master/revertTitlebar/assets/btn-minimize.svg);
		}

/*------------------------------------*\
    $MAIN
\*------------------------------------*/
	/*------------------*\
	    $Shared
	\*------------------*/
	/*------------------*\
	    $Misc
	\*------------------*/
		/*			$Titlebar			*/
		/*

			#app-mount div[class*='titleBar-'] {
				align-items: center;

				right: 12px;

				width: 98px;
				padding: 0 8px 0 12px;

				background: var(--primary);
			}

		*/
		#app-mount div[class*='titleBar-'] {
			align-items: center;

			position:	 absolute;
			top:			 0px;
			right:		 0px;

			width:	 90px;
			height:	 48px;

			margin:	 0px;
			padding: 0px;

			background: var(--primary);

			--webkit-app-region: no-drag;
		}

		#app-mount div[class*='titleBar-']::before {
		    --webkit-app-region: drag;
		    position: absolute;
		    top: 0px;
		    right: 0px;
		    display: block;
		    width: 100vw;
		    height: 6px;
		    content: "";
		    background-color: rgb(64, 64, 64);
		    margin: 0px;
		    padding: 0px;
		    border-bottom: 1px solid rgb(71, 74, 79);
		    z-index: 3000;
		}

		div[class*="titleBar-"] div[class*="wordmark-"],
		div[class*="titleBar-"] div[class*="winButton-"] svg {
			display: none;
		}

		div[class*="titleBar-"] div[class*="winButton-"] {
			filter: invert(0%);

			position: relative;
			top: 0;

			display: block;

			width:  24px;
			height: 24px;
			margin: 0 2px;

			opacity: 0.6;
			background-color:    transparent;
			background-repeat:   no-repeat;
			background-position: center;
			background-size:     24px;
		}

		div[class*="titleBar-"] div[class*="winButton-"]:hover {
			opacity: 0.8;
		}

		div[class*="titleBar-"] div:nth-of-type(2) {
			background-image: var(--i-rtl-closeimg);
		}

		div[class*="titleBar-"] div:nth-of-type(3) {
			background-image: var(--i-rtl-maximizeimg);
		}

		div[class*="titleBar-"] div:nth-of-type(4) {
			background-image: var(--i-rtl-minimizeimg);
		}

	/*------------------*\
	    $Guilds
	    .guilds-wrapper
	\*------------------*/
		.guilds-wrapper {
			width: var(--guild-width);
		}

	/*------------------*\
	    $Channels
	\*------------------*/

		div[class*="channels-"] {
			font-size: 14px;
		}

		/* $Header */
		/*---------*/

		/* $ChannelScroller */
		/*------------------*/

		/* change the size for channel section headers & make them all caps */
		div[class*="nameDefault-"],
		div[class*="nameHovered-"],
		div[class*="nameMuted-"],
		div[class*="nameCollapsed"],
		div[class*="nameHoveredCollapsed"] {
			font-size:			1.1em;
			text-transform:	uppercase;
		}

		/* voice channel user names should not be changed */
		div[class*="userDefault-"] div[class*="nameDefault-"] {
			font-size:			inherit;
			text-transform: inherit;
		}

		/* $Footer */
		/*---------*/
	/*------------------*\
			$Chat
			.chat
	\*------------------*/

		/* $Title                           */
		/* .chat div[class*='titleWrapper'] */
		/*----------------------------------*/
			#app-mount div[class*='titlebar-'],
			div[class*="titleWrapper-"] div[class*="title-"] {
			    background: var(--dark1);
			}

			div[class*="titleWrapper-"] div[class*="title-"] {
				flex: 1 0 100% !important;
				margin-right: 90px;
				box-shadow: 0 0 1px 1px #000000;
			}

		/* $Messages */
		/*-----------*/
			.chat .content .flex-spacer .messages-wrapper {
				background-color: var(--primary);
			}

		/* $TextBox */
		/*----------*/

			.chat .content form {
				margin: 0;
				border-top: 1px solid var(--border);
			}

			.chat .content form div[class*='channelTextArea-']{
				height: var(--textbox-height);
				margin: 0;
			}

			.chat .content form div[class*="inner-"] {
				border-radius: 0;
				background-color: #16161d;
			}

		/* $Members                                  */
		/* .chat .content div[class*='membersWrap-'] */
		/*-------------------------------------------*/

		div[class*='membersWrap-'] div[class*='members-'] {
			background-color: #16161d;
		}
.guilds-wrapper .scroller-wrap .scroller::-webkit-scrollbar{
		display: none;
}

	div[class*="unread-mentions-"][class*="active-"]{
		background-color: var(--notif);
	}
